<div id="container">
  <p id="title">
    A Framework!
  </p>
  <p id="description">
    with only 4KBs you can solve all sorts of problems including:
  </p>
  <ul id="feature-set">
    <li>
      Global State Management
    </li>
    <li>
      Reusable Components
    </li>
    <li>
      No build tools required
    </li>
    <li>
      Better Debugging experience with web components
    </li>
    <li>
      Use css modules without any preprocesssing!
    </li>
    <li>
      Download as much components as user needs!
    </li>
  </ul>
</div>
